@import 'reset.css';
@import 'variable.css';
@import 'typo.css';
@layer reset, typo;

body{
    min-width: 100%;
    min-height: 100vh;
}
main{
padding: var(--space_500) var(--space_400);
}
.divider {
    border-bottom: 1px solid var(--Stone_150);
    margin: var(--space_400) 0;
}
.picture{
    min-width: 375px;
    height: 171px;
}
.h1_title{
    text-wrap: auto;
    margin-bottom: var(--space_300);
    color: var(--Stone_900)
}
h2{
    color: var(--Brown_800);
    margin-bottom: var(--space_300);
}
.p_title{
    color: var(--Stone_600);
    text-align: left;
}
.s_preparation{
    background-color: var(--Rose_50);
    padding: var(--space_300);
    margin: var(--space_400) 0;
    border-radius: 12px;
}
.p_preparation{
    color: var(--Rose_800);
    margin-bottom: var(--space_200);
}
.p_nutrition {
    color: var(--Stone_600);
    margin-bottom: var(--space_300);
}
.ul_preparation{
    color: var(--Stone_600);
    margin-left: var(--space_100);
    padding-left: var(--space_100);
}
.ul_preparation > li::marker {
    color: var(--Rose_800);
}
.ul_preparation >li {
    padding-left: var(--space_200);
}

.ul_ingredients,
ol{
    padding-left: 20px;
    color: var(--Stone_600);
}
.ul_ingredients > li{
    padding-left: var(--space_200);
    color: var(--Stone_600);
}
.ul_ingredients > li::marker,
.ol_instructions > li::marker{
    color: var(--Brown_800);
}
.ol_instructions >li:nth-child(-n + 5),
.ul_preparation >li:nth-child( -n + 2),
.ul_ingredients > li:nth-child( -n + 4){
    margin-bottom: var(--space_100);
}
.ol_instructions > li::marker{
    font-weight: 700;
}
.ol_instructions > li{
    padding-left: var(--space_200);
    color: var(--Stone_600);
    margin-left: var(--space_100);
}
.p_nutrition{
    color: var(--Stone_600);
}
.bold{
    color: var(--Brown_800);
}
.s_nutrition > article {
    margin: 0 32px;
    color: var(--Stone_600);
}
.container{
    display: flex;
    justify-content: space-between;
    padding: var(--space_100) 0;
}
.n_divider {
    border-bottom: 1px solid var(--Stone_150);
}
.bold{
    margin-right: 32px;
}
