:root{
    /* color */
--White: hsl(0, 0%, 100%);
--Stone_100: hsl(30, 54%, 90%);
--Stone_150: hsl(30, 18%, 87%);
--Stone_600: hsl(30, 10%, 34%);
--Stone_900: hsl(24, 5%, 18%);
--Brown_800: hsl(14, 45%, 36%);
--Rose_800: hsl(332, 51%, 32%);
--Rose_50: hsl(330, 100%, 98%);
/* spacing */
--1600: 128px;
--600: 48px;
--500: 40px;
--400: 32px;
--300: 24px;
--200: 16px;
--150: 12px;
--100: 8px;

}
